body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  background-color: #006666;
  color: #e6ffff;
  overflow: auto;
  text-align: center;
}

.container h1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #ddccee;
  margin-top: 20px;
}

.container form {
  margin-top: 20px;
}

.container input {
  width: 200px;
  height: 15px;
  font-size: 15px;
  margin: 2px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.container button {
  margin: 4px;
  min-width: 70px;
  height: 25px;
  font-weight: 600;
  color: #333333;
  background-color: #ffd473;
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgba(30,30,30,0.4);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.container button:hover {
  color: #333333;
  background-color: #ffbc42;
}

.container button:active {
  color: #292929;
  background-color: #e28d0d;
}

.container p {
  margin: 100px;
}

.container h2 {
  margin-bottom: 10px;
}

.container hr {
  margin: 0 80px;
}

.message {
  font-size: 20px;
  font-weight: 600;
  color: #ff9999;
  padding-bottom: 10px;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 3px solid #e28d0d;
}

table th {
  color: #e6ffff;
  padding: 4px 8px;
  background-color: rgb(255,255,255,0.1);
  border: 2px solid #e28d0d;
}

table td {
  border: 2px solid rgb(226,141,13,0.7);
  background-color: rgb(255,255,255,0.05);
}

.page-footer {
  flex-grow: 0;
  margin: 0;
  width: 100%;
  height: 1.4rem;
  background-color: rgb(255, 212, 115, 1);
  border-top: 1px solid rgba(55,55,55, 0.8);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer p {
  padding: 0.2rem 0.8rem;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0,0,0, 0.3);
}

.git-link {
  color: #38384A;
  text-decoration: none;
}

.git-link:hover {
  color: #38384A;
  transition: color .2s all;
}

.git-link:focus {
  color: #38384A;
}
