<!DOCTYPE html>
<html lang="en">
  <title>Fantasy Football Reality 2020</title>
  <head>
      <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <div class="container">
      <h1>Fantasy Football Reality 2020</h1>
      <h4></h4>
      <form action="{{url_for('success')}}" method="POST">
        <label for="weeks-select">Select week:</label>
        <select class="weeks" name="weeks-select">
          {% for week_no in weeks %}
            <option value="{{week_no}}">{{week_no}}</option>
          {% endfor %}
        </select>
        <label for="positions-select">Select position:</label>
        <select class="positions" name="positions-select">
          {% for (num, position) in positions %}
            <option value="{{num}}">{{position}}</option>
          {% endfor %}
        </select>
        <label for="analysts-select">Select analyst:</label>
        <select class="analysts" name="analysts-select">
          <option value="99">All</option>
          {% for (num, analyst) in analysts %}
            <option value="{{num}}">{{analyst}}</option>
          {% endfor %}
        </select>
        <button type="submit">Submit</button>
      </form>
      {% if message %}
        <div class="message">{{message|safe}}</div>
      {% endif %}
      {% if comparison_html is defined %}
        <hr>
        <h2>Expert (and Consensus) Projected Rankings vs. Actual Results</h2>
        {{comparison_html|safe}}
      {% elif projections_html is defined %}
        <hr>
        <h2>Experts' Projected Rankings</h2>
        {{projections_html|safe}}
        <br />
        <h2>Actual Results & Difference from Experts' Projections</h2>
        {{differences_html|safe}}
        <br />
        <h2>Standard Deviations of Differences (Projections - Results)</h2>
        {{std_dev_html|safe}}
      {% endif %}
    </div>
  </body>
</html>
